table tr.header,
table tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

tr {
    height: 50px;
}

th {
    min-width: 200px;
}

.input-search {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.input-search:focus {
    outline: none;
}
