.App {
    display: flex;
    height: 80vh;
    overflow-x: auto;
    width: 100%;
}

.App > div {
    border: 1px solid black;
}

.one-col {
    min-width: 200px;
    max-width: 200px;
}

.two-col {
    overflow: auto;
    min-width: 100px;
    flex-grow: 1;
    flex-shrink: 1;
}

.three-col {
    min-width: 300px;
    max-width: 300px;
}
